html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

body {
  font-family: 'Open Sans', sans-serif;

}

h1 {
  font-size: 40px;
  font-family: 'Hanalei Fill', cursive;
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}

.clock {
  background-image: url('https://uploads6.wikiart.org/images/salvador-dali/the-persistence-of-memory-1931.jpg!Large.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 500px;
  border: 3px solid black;
  color: red;
  margin: auto;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.clock-time {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.tabs-container {
  width:300px;
}

.bottom-tabs {
  display: flex;
}

.tabs-headers ul {
  display: flex;
  justify-content: space-around;
}

.tabs-content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  background: lightblue;
  border: 2px solid black
}

.tabs-headers li {
  background: lightblue;
  flex-grow: 1;
  border-radius: 10px 10px 0 0;;
  border: 2px solid black;
  text-align: center;
}

.tabs-headers li button {
  padding: 0 30px;
}
